<!--Footer-->
<footer class="page-footer font-small bg-secondary pt-4">
    <!--Footer Elements-->
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h4 class="text-light">Siga-nos nas redes sociais</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="social-network">
                <li><a href="https://www.facebook.com/anderson.mendoncadeabreu" class="icoFacebook" title="Facebook"  target="_blank">
                        <fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-3"></fa-icon>
                    </a>
                </li>
                <li><a href="https://www.instagram.com/prof_anderson_abreu/?hl=pt-br" class="icoInstagram"  target="_blank" title="Instagram">
                        <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
                    </a>
                </li>
                <li><a href="https://www.linkedin.com/in/anderson-mendon%C3%A7a-de-abreu-11179a85/" class="icoLinkedin" title="Linkedin">
                        <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                    </a>
                </li>
            </ul>
        </div> 
    </div>
<!-- Copyright -->
<div class="footer-copyright bg-dark text-center py-3">
    <span class="text-light">&copy; 2020 Copyright: </span>
    <a class="text-light" href="https://brasil.generation.org">brasil.generation.org</a>
</div>
<!-- Copyright -->
</footer>
